<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MyFirstWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>data</param-name>
    <param-value>aaaa</param-value>
  </context-param>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>ServletDemo5</servlet-name>
    <servlet-class>cn.servlet.ServletDemo5</servlet-class>
    <init-param>
      <param-name>path</param-name>
      <param-value>xxxxx</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>ServletDemo6</servlet-name>
    <servlet-class>cn.servlet.ServletDemo6</servlet-class>
    <init-param>
      <param-name>path1</param-name>
      <param-value>yyyy</param-value>
    </init-param>
    <init-param>
      <param-name>path2</param-name>
      <param-value>zzzz</param-value>
    </init-param>
    <init-param>
      <param-name>path3</param-name>
      <param-value>aaaa</param-value>
    </init-param>
    <init-param>
      <param-name>path4</param-name>
      <param-value>bbbb</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo5</servlet-name>
    <url-pattern>/ServletDemo5</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletDemo6</servlet-name>
    <url-pattern>/ServletDemo6</url-pattern>
  </servlet-mapping>
</web-app>